USE [master]
GO
/****** Object:  Database [DAMN_QuanLyCaPhe]    Script Date: 8/13/2020 9:49:14 AM ******/
CREATE DATABASE [DAMN_QuanLyCaPhe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAMN_QuanLyCaPhe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DAMN_QuanLyCaPhe.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DAMN_QuanLyCaPhe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DAMN_QuanLyCaPhe_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAMN_QuanLyCaPhe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAMN_QuanLyCaPhe]
GO
/****** Object:  Table [dbo].[QL_ChiTietHoaDon]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_ChiTietHoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](100) NOT NULL,
	[Soluong] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_QL_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_ChiTietNhapHang]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_ChiTietNhapHang](
	[MAHDNH] [nvarchar](50) NOT NULL,
	[MANL] [nvarchar](50) NOT NULL,
	[DVT] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_QL_ChiTietNhapHang] PRIMARY KEY CLUSTERED 
(
	[MAHDNH] ASC,
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_ChiTietPhieuNhan]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_ChiTietPhieuNhan](
	[MaPhieuNhan] [nvarchar](50) NOT NULL,
	[MaNL] [nvarchar](50) NOT NULL,
	[DonGia] [int] NULL,
	[Soluong] [int] NULL,
	[DonViTinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_QL_ChiTietPhieuNhan] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhan] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_HoaDon_BanHang]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_HoaDon_BanHang](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaND] [nvarchar](50) NULL,
	[NgayLap] [date] NULL,
	[PhuongThuc] [nvarchar](50) NULL,
	[TienDua] [int] NULL,
	[TienThua] [int] NULL,
	[TongCong] [int] NULL,
	[TinhTrang] [bit] NULL,
	[MAKH] [nvarchar](50) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_HoaDon_NhapHang]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_HoaDon_NhapHang](
	[MaHDNH] [nvarchar](50) NOT NULL,
	[MANCC] [nvarchar](50) NULL,
	[NgayNhap] [date] NULL,
	[TongTien] [money] NULL,
	[MAND] [nvarchar](50) NULL,
	[PhuongThuc] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_QL_HoaDon_NhapHang] PRIMARY KEY CLUSTERED 
(
	[MaHDNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_KHACHHANG]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_KHACHHANG](
	[MaKH] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[CMND] [nchar](10) NULL,
	[DiemSo] [int] NULL,
 CONSTRAINT [PK_QL_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_LoaiNguyenLieu]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_LoaiNguyenLieu](
	[MaLoaiNL] [nvarchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[Hinh] [nvarchar](50) NULL,
	[GhiChu] [nchar](10) NULL,
 CONSTRAINT [PK_QL_LoaiNguyenLieu] PRIMARY KEY CLUSTERED 
(
	[MaLoaiNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_LoaiSanPham]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_LoaiSanPham](
	[MaLoaiSP] [nvarchar](50) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[Hinh] [nvarchar](max) NULL,
	[GhiChu] [nchar](10) NULL,
 CONSTRAINT [PK_QL_NhomSanPham_1] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_ManHinh]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_ManHinh](
	[MaMH] [nvarchar](10) NOT NULL,
	[TenMH] [nvarchar](50) NULL,
 CONSTRAINT [PK_QL_ManHinh] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_NguoiDung]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NguoiDung](
	[MaND] [nvarchar](50) NOT NULL,
	[TenNguoiDung] [nvarchar](50) NULL,
	[SoDienThoai] [nchar](10) NULL,
	[CMND] [nchar](10) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[NgaySinh] [date] NULL,
	[NgayVL] [date] NULL,
	[MaNhom] [nvarchar](50) NULL,
	[HoatDong] [nchar](10) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_NguyenLieu]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NguyenLieu](
	[MaNL] [nvarchar](50) NOT NULL,
	[TenNL] [nvarchar](50) NULL,
	[DVT] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[MaLoaiNL] [nvarchar](10) NULL,
	[ThoiHan] [date] NULL,
 CONSTRAINT [PK_NguyenLieu] PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_NguyenLieu_SanPham]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NguyenLieu_SanPham](
	[MaSP] [nvarchar](100) NOT NULL,
	[MaNL] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_QL_NguyenLieu_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_NhaCungCap]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NhaCungCap](
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [nchar](10) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_QL_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_NhomNguoiDung]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NhomNguoiDung](
	[MaNhom] [nvarchar](50) NOT NULL,
	[TenNhom] [nvarchar](50) NULL,
 CONSTRAINT [PK_QL_NhomNguoIDung] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_PhanQuyen]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_PhanQuyen](
	[MaNhom] [nvarchar](50) NOT NULL,
	[MaMH] [nvarchar](10) NOT NULL,
	[CoQuyen] [bit] NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_PhieuNhan]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_PhieuNhan](
	[MaPhieuNhan] [nvarchar](50) NOT NULL,
	[MaHDNH] [nvarchar](50) NULL,
	[NgayNhan] [date] NULL,
	[TongTien] [money] NULL,
 CONSTRAINT [PK_QL_PhieuNhan] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_SanPham]    Script Date: 8/13/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_SanPham](
	[MaSP] [nvarchar](100) NOT NULL,
	[TenSanPham] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[Gia] [money] NULL,
	[Hinh] [nvarchar](50) NULL,
	[MaLoaiSP] [nvarchar](50) NULL,
 CONSTRAINT [PK_QL_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[QL_ChiTietHoaDon] ([MaHD], [MaSP], [Soluong], [DonGia]) VALUES (N'20208103681', N'SP007     ', 1, 20000)
INSERT [dbo].[QL_ChiTietHoaDon] ([MaHD], [MaSP], [Soluong], [DonGia]) VALUES (N'20208107433', N'SP002     ', 1, 20000)
INSERT [dbo].[QL_ChiTietHoaDon] ([MaHD], [MaSP], [Soluong], [DonGia]) VALUES (N'20208111056', N'SP005     ', 1, 20000)
GO
INSERT [dbo].[QL_ChiTietNhapHang] ([MAHDNH], [MANL], [DVT], [SoLuong], [DonGia]) VALUES (N'PDH01', N'NL001', N'cái', 10, 100000)
INSERT [dbo].[QL_ChiTietNhapHang] ([MAHDNH], [MANL], [DVT], [SoLuong], [DonGia]) VALUES (N'PDH01', N'NL002', N'cái', 10, 100000)
INSERT [dbo].[QL_ChiTietNhapHang] ([MAHDNH], [MANL], [DVT], [SoLuong], [DonGia]) VALUES (N'PDH01', N'NL003', N'cái', 10, 100000)
INSERT [dbo].[QL_ChiTietPhieuNhan] ([MaPhieuNhan], [MaNL], [DonGia], [Soluong], [DonViTinh]) VALUES (N'PNH01', N'NL001', 2, 100, N'cái')
INSERT [dbo].[QL_ChiTietPhieuNhan] ([MaPhieuNhan], [MaNL], [DonGia], [Soluong], [DonViTinh]) VALUES (N'PNH01', N'NL002', 3, 2, N'cái')
INSERT [dbo].[QL_ChiTietPhieuNhan] ([MaPhieuNhan], [MaNL], [DonGia], [Soluong], [DonViTinh]) VALUES (N'PNH02', N'NL001', 2, 1, N'cái')
INSERT [dbo].[QL_HoaDon_BanHang] ([MaHD], [MaND], [NgayLap], [PhuongThuc], [TienDua], [TienThua], [TongCong], [TinhTrang], [MAKH]) VALUES (N'20208103681', N'ND01', CAST(N'2020-08-10' AS Date), N'Tiền Mặt', 100000, 80000, 20000, 1, N'KH0001')
INSERT [dbo].[QL_HoaDon_BanHang] ([MaHD], [MaND], [NgayLap], [PhuongThuc], [TienDua], [TienThua], [TongCong], [TinhTrang], [MAKH]) VALUES (N'20208107433', N'ND01', CAST(N'2020-08-10' AS Date), N'Thẻ', 100000, 80000, 20000, 1, N'KH0001')
INSERT [dbo].[QL_HoaDon_BanHang] ([MaHD], [MaND], [NgayLap], [PhuongThuc], [TienDua], [TienThua], [TongCong], [TinhTrang], [MAKH]) VALUES (N'20208111056', N'ND01', CAST(N'2020-08-11' AS Date), N'Tiền Mặt', 100000, 40000, 60000, NULL, N'KH0001')
INSERT [dbo].[QL_HoaDon_NhapHang] ([MaHDNH], [MANCC], [NgayNhap], [TongTien], [MAND], [PhuongThuc], [TinhTrang], [GhiChu]) VALUES (N'PDH01', N'NCC001', CAST(N'2020-08-04' AS Date), 5000000.0000, N'ND01', N'Online', N'Chưa thanh toán', NULL)
INSERT [dbo].[QL_HoaDon_NhapHang] ([MaHDNH], [MANCC], [NgayNhap], [TongTien], [MAND], [PhuongThuc], [TinhTrang], [GhiChu]) VALUES (N'PDH02', N'NCC001', CAST(N'2020-08-04' AS Date), 1572000.0000, N'ND01', N'Online', N'Chưa thanh toán', NULL)
INSERT [dbo].[QL_HoaDon_NhapHang] ([MaHDNH], [MANCC], [NgayNhap], [TongTien], [MAND], [PhuongThuc], [TinhTrang], [GhiChu]) VALUES (N'PDH03', N'NCC001', CAST(N'2020-08-07' AS Date), 0.0000, N'ND01', N'Online', N'Chưa thanh toán', NULL)
INSERT [dbo].[QL_KHACHHANG] ([MaKH], [HoTen], [SDT], [CMND], [DiemSo]) VALUES (N'KH0001', N'Chưa đăng ký', NULL, NULL, NULL)
INSERT [dbo].[QL_KHACHHANG] ([MaKH], [HoTen], [SDT], [CMND], [DiemSo]) VALUES (N'KH002', N'Hoàng Thái Thanh Nhàn', N'0933055917', N'0257890677', 1)
INSERT [dbo].[QL_KHACHHANG] ([MaKH], [HoTen], [SDT], [CMND], [DiemSo]) VALUES (N'KH003', N'Phạm Quang Huy', N'0834567891', N'0234764894', 10)
INSERT [dbo].[QL_LoaiNguyenLieu] ([MaLoaiNL], [TenLoai], [Hinh], [GhiChu]) VALUES (N'LOAINL01  ', N'Gà', N'ic_chicken.png                                    ', NULL)
INSERT [dbo].[QL_LoaiNguyenLieu] ([MaLoaiNL], [TenLoai], [Hinh], [GhiChu]) VALUES (N'LOAINL02  ', N'Heo', N'ic_pork.png                                       ', NULL)
INSERT [dbo].[QL_LoaiNguyenLieu] ([MaLoaiNL], [TenLoai], [Hinh], [GhiChu]) VALUES (N'LOAINL03  ', N'Cá', N'ic_fish.png                                       ', NULL)
INSERT [dbo].[QL_LoaiSanPham] ([MaLoaiSP], [TenLoai], [Hinh], [GhiChu]) VALUES (N'LOAISP01', N'Đồ Ăn', NULL, NULL)
INSERT [dbo].[QL_LoaiSanPham] ([MaLoaiSP], [TenLoai], [Hinh], [GhiChu]) VALUES (N'LOAISP02', N'Đồ uống', NULL, NULL)
INSERT [dbo].[QL_ManHinh] ([MaMH], [TenMH]) VALUES (N'MH01', N'Quanly')
INSERT [dbo].[QL_ManHinh] ([MaMH], [TenMH]) VALUES (N'MH02', N'Kho')
INSERT [dbo].[QL_ManHinh] ([MaMH], [TenMH]) VALUES (N'MH03', N'KhachHang')
INSERT [dbo].[QL_NguoiDung] ([MaND], [TenNguoiDung], [SoDienThoai], [CMND], [DiaChi], [Email], [NgaySinh], [NgayVL], [MaNhom], [HoatDong], [Password]) VALUES (N'ND00', N'Hoàng Thái Thanh Nhàn', N'0975741463', N'00        ', N'TP.HCM', N'nhan@gmail.com', CAST(N'1999-02-02' AS Date), CAST(N'2020-02-07' AS Date), N'Nhom0', N'True      ', N'123456')
INSERT [dbo].[QL_NguoiDung] ([MaND], [TenNguoiDung], [SoDienThoai], [CMND], [DiaChi], [Email], [NgaySinh], [NgayVL], [MaNhom], [HoatDong], [Password]) VALUES (N'ND01', N'Võ Trung Nam', N'0938055917', N'11        ', N'TP.HCM', N'nam@gmail.com', CAST(N'1999-10-31' AS Date), CAST(N'2020-10-20' AS Date), N'Nhom0', N'False     ', N'111222                                            ')
INSERT [dbo].[QL_NguoiDung] ([MaND], [TenNguoiDung], [SoDienThoai], [CMND], [DiaChi], [Email], [NgaySinh], [NgayVL], [MaNhom], [HoatDong], [Password]) VALUES (N'ND02', N'Hoàng Thái Thanh Nhàn', N'0995245234', N'0123456879', N'TP.HCM', N'nhan@gmail.com', CAST(N'1999-07-08' AS Date), CAST(N'2020-02-09' AS Date), N'Nhom1', N'True      ', N'111222')
INSERT [dbo].[QL_NguyenLieu] ([MaNL], [TenNL], [DVT], [SoLuong], [MaLoaiNL], [ThoiHan]) VALUES (N'NL001                                             ', N'Đùi gà', N'cái', 0, N'LOAINL01  ', CAST(N'2020-10-10' AS Date))
INSERT [dbo].[QL_NguyenLieu] ([MaNL], [TenNL], [DVT], [SoLuong], [MaLoaiNL], [ThoiHan]) VALUES (N'NL002                                             ', N'Ức Gà', N'cái', 99, N'LOAINL01  ', CAST(N'2020-10-14' AS Date))
INSERT [dbo].[QL_NguyenLieu] ([MaNL], [TenNL], [DVT], [SoLuong], [MaLoaiNL], [ThoiHan]) VALUES (N'NL003                                             ', N'Cánh Gà', N'cái', 1000, N'LOAINL01  ', CAST(N'2020-10-14' AS Date))
INSERT [dbo].[QL_NguyenLieu_SanPham] ([MaSP], [MaNL], [SoLuong]) VALUES (N'SP001', N'NL001', 1)
INSERT [dbo].[QL_NguyenLieu_SanPham] ([MaSP], [MaNL], [SoLuong]) VALUES (N'SP002', N'NL002', 1)
INSERT [dbo].[QL_NguyenLieu_SanPham] ([MaSP], [MaNL], [SoLuong]) VALUES (N'SP003     ', N'NL001                                             ', 1)
INSERT [dbo].[QL_NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (N'NCC001', N'Công Ty TNHH SX & TM MẠ 24H', N'656/96 Quang Trung, Phường 11, Q.Gò Vấp, TP. Hồ Chí Minh', N'0901303468', N'lienhe.ma24h@gmail.com')
INSERT [dbo].[QL_NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (N'NCC002', N'NGUYÊN HÀ FOOD ', N'14/7 Bis Kỳ Đồng , Phường 9 , Quận 3 , TP.Hồ Chí Minh', N'0902819653', N'kingmeat.info@gmail.com')
INSERT [dbo].[QL_NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (N'NCC003', N'CÔNG TY TNHH XUẤT NHẬP KHẨU THỰC PHẨM HỮU NGHỊ', N'9C10 KDC Nam Long, Hà Huy Giáp, KP3, p. Thạch Lộc, Q.12, TP. Hồ Chí Minh', N'0901892899', N'nghivan86@gmail.com')
INSERT [dbo].[QL_NhomNguoiDung] ([MaNhom], [TenNhom]) VALUES (N'Nhom0', N'Quản Lý')
INSERT [dbo].[QL_NhomNguoiDung] ([MaNhom], [TenNhom]) VALUES (N'Nhom1', N'Thanh Toán')
INSERT [dbo].[QL_NhomNguoiDung] ([MaNhom], [TenNhom]) VALUES (N'Nhom2', N'QL_Kho')
INSERT [dbo].[QL_PhanQuyen] ([MaNhom], [MaMH], [CoQuyen]) VALUES (N'Nhom0', N'MH01', 1)
INSERT [dbo].[QL_PhanQuyen] ([MaNhom], [MaMH], [CoQuyen]) VALUES (N'Nhom0', N'MH02', 1)
INSERT [dbo].[QL_PhanQuyen] ([MaNhom], [MaMH], [CoQuyen]) VALUES (N'Nhom0', N'MH03', 1)
INSERT [dbo].[QL_PhieuNhan] ([MaPhieuNhan], [MaHDNH], [NgayNhan], [TongTien]) VALUES (N'PNH01', N'PDH02', CAST(N'2020-08-04' AS Date), 206.0000)
INSERT [dbo].[QL_PhieuNhan] ([MaPhieuNhan], [MaHDNH], [NgayNhan], [TongTien]) VALUES (N'PNH02', N'PDH02', CAST(N'2020-08-04' AS Date), 204.0000)
INSERT [dbo].[QL_PhieuNhan] ([MaPhieuNhan], [MaHDNH], [NgayNhan], [TongTien]) VALUES (N'PNH03', N'PDH03', CAST(N'2020-08-07' AS Date), 1000000.0000)
INSERT [dbo].[QL_SanPham] ([MaSP], [TenSanPham], [TinhTrang], [Gia], [Hinh], [MaLoaiSP]) VALUES (N'LOAISP01SP008', N'Pepsi', N'Bán', 18000.0000, N'nuoc-ngot-pepsi-thai-lon-330ml.jpg', N'LOAISP02')
INSERT [dbo].[QL_SanPham] ([MaSP], [TenSanPham], [TinhTrang], [Gia], [Hinh], [MaLoaiSP]) VALUES (N'LOAISP02SP003', N'Coca Cola', N'Bán', 25000.0000, N'cocacola.jpg', N'LOAISP02')
INSERT [dbo].[QL_SanPham] ([MaSP], [TenSanPham], [TinhTrang], [Gia], [Hinh], [MaLoaiSP]) VALUES (N'LOAISP02SP004', N'7_Up', N'Bán', 18000.0000, N'7up.jpg', N'LOAISP02')
ALTER TABLE [dbo].[QL_ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_QL_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[QL_HoaDon_BanHang] ([MaHD])
GO
ALTER TABLE [dbo].[QL_ChiTietHoaDon] CHECK CONSTRAINT [FK_QL_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[QL_ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_QL_ChiTietHoaDon_QL_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[QL_SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[QL_ChiTietHoaDon] CHECK CONSTRAINT [FK_QL_ChiTietHoaDon_QL_SanPham]
GO
ALTER TABLE [dbo].[QL_ChiTietNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_QL_ChiTietNhapHang_NguyenLieu] FOREIGN KEY([MANL])
REFERENCES [dbo].[QL_NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[QL_ChiTietNhapHang] CHECK CONSTRAINT [FK_QL_ChiTietNhapHang_NguyenLieu]
GO
ALTER TABLE [dbo].[QL_ChiTietNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_QL_ChiTietNhapHang_QL_HoaDon_NhapHang] FOREIGN KEY([MAHDNH])
REFERENCES [dbo].[QL_HoaDon_NhapHang] ([MaHDNH])
GO
ALTER TABLE [dbo].[QL_ChiTietNhapHang] CHECK CONSTRAINT [FK_QL_ChiTietNhapHang_QL_HoaDon_NhapHang]
GO
ALTER TABLE [dbo].[QL_ChiTietPhieuNhan]  WITH CHECK ADD  CONSTRAINT [FK_QL_ChiTietPhieuNhan_QL_PhieuNhan] FOREIGN KEY([MaPhieuNhan])
REFERENCES [dbo].[QL_PhieuNhan] ([MaPhieuNhan])
GO
ALTER TABLE [dbo].[QL_ChiTietPhieuNhan] CHECK CONSTRAINT [FK_QL_ChiTietPhieuNhan_QL_PhieuNhan]
GO
ALTER TABLE [dbo].[QL_HoaDon_BanHang]  WITH CHECK ADD  CONSTRAINT [FK_QL_HoaDon_BanHang_QL_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[QL_KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[QL_HoaDon_BanHang] CHECK CONSTRAINT [FK_QL_HoaDon_BanHang_QL_KHACHHANG]
GO
ALTER TABLE [dbo].[QL_HoaDon_BanHang]  WITH CHECK ADD  CONSTRAINT [FK_QL_HoaDon_BanHang_QL_NguoiDung] FOREIGN KEY([MaND])
REFERENCES [dbo].[QL_NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[QL_HoaDon_BanHang] CHECK CONSTRAINT [FK_QL_HoaDon_BanHang_QL_NguoiDung]
GO
ALTER TABLE [dbo].[QL_HoaDon_NhapHang]  WITH CHECK ADD  CONSTRAINT [FK_QL_HoaDon_NhapHang_QL_NguoiDung] FOREIGN KEY([MAND])
REFERENCES [dbo].[QL_NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[QL_HoaDon_NhapHang] CHECK CONSTRAINT [FK_QL_HoaDon_NhapHang_QL_NguoiDung]
GO
ALTER TABLE [dbo].[QL_HoaDon_NhapHang]  WITH CHECK ADD  CONSTRAINT [FK_QL_HoaDon_NhapHang_QL_NhaCungCap] FOREIGN KEY([MANCC])
REFERENCES [dbo].[QL_NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[QL_HoaDon_NhapHang] CHECK CONSTRAINT [FK_QL_HoaDon_NhapHang_QL_NhaCungCap]
GO
ALTER TABLE [dbo].[QL_NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_QL_NguoiDung_QL_NhomNguoiDung] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[QL_NhomNguoiDung] ([MaNhom])
GO
ALTER TABLE [dbo].[QL_NguoiDung] CHECK CONSTRAINT [FK_QL_NguoiDung_QL_NhomNguoiDung]
GO
ALTER TABLE [dbo].[QL_NguyenLieu]  WITH CHECK ADD  CONSTRAINT [FK_NguyenLieu_QL_LoaiNguyenLieu] FOREIGN KEY([MaLoaiNL])
REFERENCES [dbo].[QL_LoaiNguyenLieu] ([MaLoaiNL])
GO
ALTER TABLE [dbo].[QL_NguyenLieu] CHECK CONSTRAINT [FK_NguyenLieu_QL_LoaiNguyenLieu]
GO
ALTER TABLE [dbo].[QL_NguyenLieu_SanPham]  WITH CHECK ADD  CONSTRAINT [FK_QL_NguyenLieu_SanPham_NguyenLieu] FOREIGN KEY([MaNL])
REFERENCES [dbo].[QL_NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[QL_NguyenLieu_SanPham] CHECK CONSTRAINT [FK_QL_NguyenLieu_SanPham_NguyenLieu]
GO
ALTER TABLE [dbo].[QL_NguyenLieu_SanPham]  WITH CHECK ADD  CONSTRAINT [FK_QL_NguyenLieu_SanPham_QL_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[QL_SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[QL_NguyenLieu_SanPham] CHECK CONSTRAINT [FK_QL_NguyenLieu_SanPham_QL_SanPham]
GO
ALTER TABLE [dbo].[QL_PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_QL_PhanQuyen_QL_ManHinh] FOREIGN KEY([MaMH])
REFERENCES [dbo].[QL_ManHinh] ([MaMH])
GO
ALTER TABLE [dbo].[QL_PhanQuyen] CHECK CONSTRAINT [FK_QL_PhanQuyen_QL_ManHinh]
GO
ALTER TABLE [dbo].[QL_PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_QL_PhanQuyen_QL_NhomNguoIDung] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[QL_NhomNguoiDung] ([MaNhom])
GO
ALTER TABLE [dbo].[QL_PhanQuyen] CHECK CONSTRAINT [FK_QL_PhanQuyen_QL_NhomNguoIDung]
GO
ALTER TABLE [dbo].[QL_PhieuNhan]  WITH CHECK ADD  CONSTRAINT [FK_QL_PhieuNhan_QL_HoaDon_NhapHang] FOREIGN KEY([MaHDNH])
REFERENCES [dbo].[QL_HoaDon_NhapHang] ([MaHDNH])
GO
ALTER TABLE [dbo].[QL_PhieuNhan] CHECK CONSTRAINT [FK_QL_PhieuNhan_QL_HoaDon_NhapHang]
GO
ALTER TABLE [dbo].[QL_SanPham]  WITH CHECK ADD  CONSTRAINT [FK_QL_SanPham_QL_LoaiSanPham] FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[QL_LoaiSanPham] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[QL_SanPham] CHECK CONSTRAINT [FK_QL_SanPham_QL_LoaiSanPham]
GO
USE [master]
GO
