<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.DAMN_QuanLyCoffeeConnectionString"
            connectionString="Data Source=DESKTOP-87LUJO1\SQLEXPRESS;Initial Catalog=DAMN_QuanLyCoffee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.DAMN_QuanLyCaPheConnectionString"
            connectionString="Data Source=DESKTOP-87LUJO1\SQLEXPRESS;Initial Catalog=DAMN_QuanLyCaPhe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>